@import "tailwindcss";
@import "@heroui/styles"; 

@theme {
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }
}


html.lenis, html.lenis body {
  height: auto !important;
}

.lenis-smooth {
 
  scroll-behavior: auto !important; 
}